<form action="{{ path('post_participation') }}" method="POST">
<select multiple id="select_users">
{% for user in usersToInvite %}
  <option value="{{ user.id }}"> {{ user.firstName }} {{ user.lastName }}</option>
 {% endfor %}
 </select>
 <input type="submit" value="Submit" id="event_add_participation_save">
</form>
<script>


$(document).on('click', '#event_add_participation_save', function (e) {
    e.preventDefault();
    var url = $(this).parent().attr('action');
    console.log($(this).parent());


    var formElement = document.querySelector("form");

	var users = [/*recuperer les user select*/];

	
    selectBox = document.getElementById("select_users");
    var i;
 
	for (i=0; i < selectBox.length; i++) 
	{
		if (selectBox[i].selected) 
		{
			users.push(selectBox[i].value);
			
		}
	}

	var otherData = {
			event: {{ event.id }},/*Event ici*/
			sleep: null,
			response: null
		};

		for (index in users) {
			var user = users[index];

	        var data = otherData;
	        data.user = user;
			
			$.ajax({
				type: 'POST',
				url: url,
				contentType: "application/json",
		        dataType: 'json',
		        data: JSON.stringify(data),
		        
			});
		}

		location.reload();
	

});
</script>

