{% extends 'CommonBundle:layout:base-layout.html.twig'  %}

{% block title %}{%if action =="update"%}{{"update_event"|trans }}{%else%}{{"create_event"|trans }}{%endif%}{% endblock title %}

{% block page_title %}{%if action =="update"%}{{ event.name }}{%else%}{{"create_event"|trans }}{%endif%}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
.response-red{
	color: red;
}
.response-orange{
	color:orange:
}
.response-green{
	color: green;
}
</style>
{% endblock stylesheets %}

{% block page_content %}

<div class="box box-default collapsed-box box-solid">
	<div class="box-header with-border">
    	<h4 class="box-title">{{ "informations"|trans }}</h4>
       		<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
              <!-- /.box-tools -->
   </div>
            <!-- /.box-header -->
   <div class="box-body">
	   {{ form_start(form) }}
	   {{ form_end(form) }}
	   {{ form_errors(form) }}
   </div>
            <!-- /.box-body -->
</div>

{% if action == "update" %}
<div class="box box-default collapsed-box box-solid">
	<div class="box-header with-border">
    	<h4 class="box-title">{{ "requirements"|trans }}</h4>
       		<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
              <!-- /.box-tools -->
   </div>
            <!-- /.box-header -->
   <div class="box-body">
	{% if event.requirements is not empty %}
				<table role="grid" id="table_requirements" class="table table-bordered table-striped">
                <thead>
                <tr>
                	<th>{{ "item"|trans }}</th>
                	<th>{{ "quantity"|trans }}</th>
                	<th style="width:10%;"></th>
                </tr>
                </thead>
                <tbody>
                	{% for requirement in event.requirements %}
				<tr>
					<td>{{ requirement.item.name }}</td>
					<td>{{ requirement.quantity }} </td>
					<td><button type="button" class="btn btn-default removeEventRequirement btn-xs"
			            data-url="{{ path('event_removerequirement',{'requirement_id' : requirement.id}) }}" data-toggle="modal"
			            data-target="#confirmDeleteEventRequirement" data-backdrop="false"><span class="glyphicon glyphicon-remove"></span></button>
			        </td>
				</tr>
					{% endfor %}
					</tbody>
					</table>
	{% else %}
	<p>{{ "no_element"|trans }}</p>
	{%  endif %}
	{% if event.id %}
	<button type="button" id="btn_add_event_requirement" class="btn btn-default"
            data-url="{{ path('event_addrequirement',{'event_id' : event.id}) }}" data-toggle="modal"
            data-target="#myModal" data-backdrop="false">{{ 'add'|trans }}</button>
   {% endif %}


   </div>
            <!-- /.box-body -->
</div>

<div class="box box-default collapsed-box box-solid">
	<div class="box-header with-border">
    	<h4 class="box-title">{{ "participations"|trans }}</h4>
       		<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
              <!-- /.box-tools -->
   </div>
            <!-- /.box-header -->
   <div class="box-body">
	{% if participations is not empty %}
	
	<div class="box-body no-padding">
    	<ul class="users-list clearfix">
	{% for participation in participations %}
		<li>
			<img src="dist/img/user1-128x128.jpg" alt="User Image">
			<a class="users-list-name" href="{{ path('user_profile', {'user_id' : participation.user.id}) }}">{{ participation.user.firstName }} {{ participation.user.lastName }}</a>
			<span 
				{% if participation.response == null %}
					class="response-orange"
				{% else %}
				{% if participation.response == 'true' %}
					class="response-green"
				{% else %}
				{% if participation.response == 'false' %}
					class="response-red"
				{% endif %}
				{% endif %}
				{% endif %}
			>Réponse : {{ participation.response }}</span>
			{{ participation.response }}
			
		</li>        
	{% endfor %}
    	</ul>
    </div>
		
	
	{% else %}
	<p>{{ "no_element"|trans }}</p>
	{%  endif %}
	{% if event.id %}
	<button type="button" id="btn_add_event_participations" class="btn btn-default"
            data-url="{{ path('event_addparticipations',{'event_id' : event.id}) }}" data-toggle="modal"
            data-target="#myModal" data-backdrop="false">{{ 'add'|trans }}</button>
   {% endif %}


   </div>
            <!-- /.box-body -->
</div>
   {% endif %}
<div class="modal fade" id="confirmDeleteEventRequirement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ 'confirm_delete'|trans }}</h4>
      </div>
      <div class="modal-body">
       {{ 'msg_confirm_delete'|trans }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "close"|trans }}</button>
        <button type="button" class="btn btn-primary" id="btn_confirm_delete_event_requirement">{{ "confirm"|trans }}</button>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block javascripts %}
{{ parent() }}
<script>
 $("form input.date").daterangepicker({
	timePicker: true,
	singleDatePicker: true, 
});

 
 $(document).ready(function(){
	    $(document).on('click', '#btn_add_event_requirement', function(){
	        var url=$(this).attr("data-url");
	        create_update_event_requirement(url,{});
	        return false;
	    });

	    $(document).on('click', '#btn_add_event_participations', function(){
	        var url=$(this).attr("data-url");
	        create_update_event_participations(url,{});
	        return false;
	    });


	    

	    
	    $(document).on('click', '.removeEventRequirement', function(){remove_event_requirement($(this).attr("data-url"),{});return false;});
	     
	    function remove_event_requirement (url) {
	        $('#btn_confirm_delete_event_requirement').click(function(){
	            $.ajax({
	                type : 'POST',
	                url : url,
	                dataType : 'json',
	                data: {},
	                success : function(data){
	                    location.reload();
	                }
	            });
	        });
	    }
	    
	    function create_update_event_requirement(url,data){
	        $.ajax({
	            type : 'POST',
	            url : url,
	            dataType : 'json',
	            data: data,
	            success : function(data){
	                
	            if(data.success=='true'){
	                location.reload();
	            }
	            else{
	                $('#myModal .modal-body').empty().append(data.page);
	                $('#myModal .modal-title').empty().append(data.title);
	               
	                $('form[name=requirement]').on('submit', function(e) {
	                    e.preventDefault();
	                    create_update_event_requirement(url,$(this).serialize());                            
	                });
	            }
	            }
	       
	        });
	    }

	    function create_update_event_participations(url,data){
	        $.ajax({
	            type : 'POST',
	            url : url,
	            dataType : 'json',
	            data: data,
	            success : function(data){
	                
	            if(data.success=='true'){
	                location.reload();
	            }
	            else{
	                $('#myModal .modal-body').empty().append(data.page);
	                $('#myModal .modal-title').empty().append(data.title);
	               
	                $('form[name=participation]').on('submit', function(e) {
	                    e.preventDefault();
	                    create_update_event_participations(url,$(this).serialize());                            
	                });
	            }
	            }
	       
	        });
	    }

	 
	});
	 
</script>
{% endblock javascripts %}
