{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}{{ "event"|trans }}{% endblock title %}
{% block page_title %}{{ "event"|trans }} > {{event.name}}{% endblock %}
                    {% block page_subtitle %}{% endblock %}
                    
{% block stylesheets %}
{{ parent() }}
<style>#map-canvas { width: 400px; height: 300px; margin: 0 auto;  }
.green{color:green;
}
.red{
color:red;
}
.orange{
color:orange;
}
</style>
{% endblock stylesheets %}

{% block page_content %}


{% if participation is defined and participation is not null %}
{% if participation.response is null or participation.response == 0 %}
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{{ 'participation'|trans }}</h3>
    <div class="box-tools pull-right">
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    {{ 'question_participation'|trans }}
  </div><!-- /.box-body -->
  <div class="box-footer">
    <button type="button" class="btn btn-default btn_participation" data-url ="{{ path('put_participation',{'participation' : participation.id})}}" data-response="true">{{ "yes"|trans }}</button>
    <button type="button" class="btn btn-default btn_participation" data-url ="{{ path('put_participation',{'participation' : participation.id})}}" data-response="false">{{ "no"|trans }}</button>
  </div><!-- box-footer -->
</div><!-- /.box -->
{% else %}
<div class="info-box">
  <!-- Apply any bg-* class to to the icon to color it -->
  <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
  <div class="info-box-content">
    <span class="info-box-text">GROSSE SOIREE</span>
    <span class="info-box-number">J'espère que t'es deter' !</span>
        <button type="button" class="btn btn-default btn_participation" data-url ="{{ path('put_participation',{'participation' : participation.id})}}" data-response="false">{{ "no"|trans }}</button>
    
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
{% endif %}
{% endif %}

<div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">{{ "informations"|trans }}</a></li>
              <li><a href="#tab_2" data-toggle="tab">{{ "where_is"|trans }}</a></li>
              <li><a href="#tab_3" data-toggle="tab">{{ "requirements"|trans }}</a></li>
              <li><a href="#tab_4" data-toggle="tab">{{ "participations"|trans }}</a></li>
              <li><a href="#tab_5" data-toggle="tab">{{ "comments"|trans }}</a></li>
              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="box box-default box-solid">
				   <div class="box-body">
					    <div class="col-xs-6 col-md-4">{{ "name"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.name }}</div>
					   	
					   	<div class="col-xs-6 col-md-4">{{ "description"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.description }}</div>
					   	
					   	<div class="col-xs-6 col-md-4">{{ "location"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.location }}</div>
					   	
					   	<div class="col-xs-6 col-md-4">{{ "start_date"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.startDate|date('d/m/Y') }} - {{ event.startDate|date('H:m') }} </div>
					   	
					   	<div class="col-xs-6 col-md-4">{{ "endDate"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.endDate|date('d/m/Y') }} - {{ event.endDate|date('H:m') }}</div>
				   </div>
				            <!-- /.box-body -->
				</div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
			    <div class="box box-default box-solid">
			   <div class="box-body">
				{{ event.location }}
				<div id="map-canvas"></div>
			   </div>
			            <!-- /.box-body -->
				</div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
               <div class="box box-default box-solid">
				   <div class="box-body">
					<table class="table table-striped">
				                <tbody><tr>
				                  <th style="width: 10px">#</th>
				                  <th>{{ "item"|trans }}</th>
				                  <th>{{ "quantity"|trans }}</th>
				                  <th>{{ "provisions"|trans }}</th>
				                </tr>
				                {% for requirement in event.requirements %}
				                <tr>
				                	<td></td>
					                <td>{{ requirement.item.name }}</td>
					                <td>{{ requirement.quantity }}</td>
					                <td><button type="button" class="btn btn-default btn_add_provision"
					                data-url ="{{ path('new_provision',{'event' : event.id, 'requirement' :requirement.id})}}"
					                data-toggle="modal" data-target="#myModal" data-backdrop="false"
					                >{{ "provision"|trans }}</button>
					                </td>
				                </tr>
				                {% endfor %}
				              </tbody>
				    </table>
				   </div>
				            <!-- /.box-body -->
				</div>
              </div>
              <!-- /.tab-pane -->
              
             <div class="tab-pane" id="tab_4">
               <div class="box box-default box-solid">
				   <div class="box-body">
					<ul class="users-list clearfix">
				{% if participations is defined %}
				{% for participation in participations %}
					<li>
						<img src="dist/img/user1-128x128.jpg" alt="User Image">
						<a class="users-list-name" href="{{ path('user_profile', {'user_id' : participation.user.id}) }}">{{ participation.user.firstName }} {{ participation.user.lastName }}</a>
						{% if participation.response == 'yes' %}
						<span class="green">Yes</span>
						{% elseif participation == 'no'%}
						<span class="red">No</span>
						{% else %}
						<span class="orange">Pas rep</span>
						{% endif %}
						
					</li>        
				{% endfor %}
				{% endif %}
			    	</ul>
				   </div>
				            <!-- /.box-body -->
				</div>
              </div>
              <!-- /.tab-pane -->
              
              
              
              
              
              <div class="tab-pane" id="tab_5">
               <div class="box box-default box-solid">
				   <div class="box-body">
				{#{{ form(formComment,{ 'id': 'my_custom_id'}) }}#}
				   </div>
				            <!-- /.box-body -->
				</div>
              </div>
              
            </div>
            <!-- /.tab-content -->
          </div>
{% if participation is defined %}
<div class="info-box bg-grey">
  <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
  <div class="info-box-content">
    <span class="info-box-text">{{ "sleep_available"|trans }}</span>
   {#} <span class="info-box-number">{{ sleepAvailable }}</span>
       <button type="button" class="btn btn-default" id="btn_book_sleep" data-url ="{{ path('book_sleep',{'participation_id' : participation.id})}}"
       {% if booking == 'no' and sleepAvailable > 0 and sleepAvailable < event.sleepAvailable %} data-sleep="add" {% else %} data-sleep="remove"{% endif %}>
       {%if booking == 'no'%}{{ "add_sleep"|trans }}{% else %}{{ "remove_sleep"|trans }}{% endif %}</button>{#}
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
{% endif %}
{#}{{ event.lat }}, {{ event.lng }}{#}
{% endblock page_content %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">


$(document).ready(function () {
    var myLatlng = new google.maps.LatLng({{ event.lat }}, {{ event.lng }});

    var myOptions = {
        zoom: 13,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        icon: 'http://www.google.com/intl/en_us/mapfiles/ms/icons/blue-dot.png',
        title: "Original Location"
    });

});

 





  $(document).on('click', '.btn_participation', function(){

      var url=$(this).attr("data-url");
      var response = $(this).attr("data-response");
      add_response(url,response);
      return false;
  });

  function add_response(url,response){

	 if(response == "true") {
var t = true;
		 }else{ var t = false}
	  
	
      $.ajax({
          type : 'PUT',
          url : url,
          dataType : 'json',
          data: JSON.stringify(objpart),
          contentType : "application/json",
          success : function(data){
              console.log('ok');
          }
     
      });
  }

  $(document).on('click', '#btn_book_sleep', function(){
	 // alert('ok');
      var url=$(this).attr("data-url");
      var sleep = $(this).attr("data-sleep");
      book_sleep(url,sleep);
      return false;
  });

  function book_sleep(url,sleep){
      $.ajax({
          type : 'POST',
          url : url,
          dataType : 'json',
          data: 'sleep='+sleep,
          success : function(data){
              
          if(data.success=='true'){
              location.reload();
          }
          }
     
      });
  }
  
  $(document).on('click', '.btn_add_provision', function(){
      var url=$(this).attr("data-url");
      add_provision(url,{});
      return false;
  });

  function add_provision(url, data) {
      $.ajax({
          type: 'GET',
          url: url,
          data: data,
          success: function (data) {
              $('#myModal .modal-body').empty().append(data);
              console.log(data);
          }
      });
  }

  
 /* function add_provision(url,data){
      $.ajax({
          type : 'GET',
          url : url,
          dataType : 'json',
          data: data,
          success : function(data){
              
          if(data.success=='true'){
              location.reload();
          }
          else{
              $('#myModal .modal-body').empty().append(data.page);
              $('#myModal .modal-title').empty().append(data.title);
             
              $('form[name=provisions]').on('submit', function(e) {
                  e.preventDefault();
                  add_provision(url,$(this).serialize());                            
              });
          }
          }
     
      });
  }*/
</script>
{% endblock javascripts %}