{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}{{ "event"|trans }}{% endblock title %}
{% block page_title %}{{ "event"|trans }} > {{event.name}}{% endblock %}
                    {% block page_subtitle %}{% endblock %}
                    
{% block stylesheets %}
{{ parent() }}
<style>#map-canvas { width: 400px; height: 300px; margin: 0 auto;  }</style>
{% endblock stylesheets %}

{% block page_content %}

{% if participation is defined %}
{% if participation.response is null %}
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{{ 'participation'|trans }}</h3>
    <div class="box-tools pull-right">
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    {{ 'question_participation'|trans }}
  </div><!-- /.box-body -->
  <div class="box-footer">
    <button type="button" class="btn btn-default" id="btn_participation_yes" data-url ="{{ path('new_events')}}">{{ "yes"|trans }}</button>
    <button type="button" class="btn btn-default" id="btn_participation_no" data-url ="{{ path('new_events')}}">{{ "no"|trans }}</button>
  </div><!-- box-footer -->
</div><!-- /.box -->
{% else %}
<div class="info-box">
  <!-- Apply any bg-* class to to the icon to color it -->
  <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
  <div class="info-box-content">
    <span class="info-box-text">GROSSE SOIREE</span>
    <span class="info-box-number">J'espère que t'es deter' !!!</span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
{% endif %}
{% endif %}

<div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">{{ "informations"|trans }}</a></li>
              <li><a href="#tab_2" data-toggle="tab">{{ "where_is"|trans }}</a></li>
              <li><a href="#tab_3" data-toggle="tab">{{ "requirements"|trans }}</a></li>
              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="box box-default box-solid">
				   <div class="box-body">
					    <div class="col-xs-6 col-md-4">{{ "name"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.name }}</div>
					   	
					   	<div class="col-xs-6 col-md-4">{{ "description"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.description }}</div>
					   	
					   	<div class="col-xs-6 col-md-4">{{ "location"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.location }}</div>
					   	
					   	<div class="col-xs-6 col-md-4">{{ "start_date"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.startDate|date('d/m/Y') }} - {{ event.startDate|date('H:m') }} </div>
					   	
					   	<div class="col-xs-6 col-md-4">{{ "endDate"|trans }}</div>
					   	<div class="col-xs-6 col-md-4">{{ event.endDate|date('d/m/Y') }} - {{ event.endDate|date('H:m') }}</div>
				   </div>
				            <!-- /.box-body -->
				</div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
			    <div class="box box-default box-solid">
			   <div class="box-body">
				{{ event.location }}
				<div id="map-canvas"></div>
			   </div>
			            <!-- /.box-body -->
				</div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
               <div class="box box-default box-solid">
				   <div class="box-body">
					<table class="table table-striped">
				                <tbody><tr>
				                  <th style="width: 10px">#</th>
				                  <th>{{ "item"|trans }}</th>
				                  <th>{{ "quantity"|trans }}</th>
				                </tr>
				                {% for requirement in event.requirements %}
				                <tr>
				                	<td></td>
					                <td>{{ requirement.item.name }}</td>
					                <td>{{ requirement.quantity }}</td>
				                </tr>
				                {% endfor %}
				              </tbody>
				    </table>
				   </div>
				            <!-- /.box-body -->
				</div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          {#{{ event.lat|json_encode|raw }}, {{ event.lng|json_encode|raw }}}#}

{% endblock page_content %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
  function initialize() {
	  //lat: 50.2904857, lng: 2.7834976000000324
	  var myLatLng = { lat:{{ event.lat }}, lng: {{ event.lng }} };

    var mapOptions = {
      center: new google.maps.LatLng({{ event.lat|json_encode|raw }}, {{ event.lng|json_encode|raw }}),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    var marker = new google.maps.Marker({
	    position: myLatLng,
	    map: map,
	    title: 'Hello World!'
	  });
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  /*function initMap() {
	  var myLatLng = {lat: 50.2904857, lng: 2.7834976000000324};

	  var map = new google.maps.Map(document.getElementById('map-canvas'), {
	    zoom: 4,
	    center: myLatLng
	  });

	  var marker = new google.maps.Marker({
	    position: myLatLng,
	    map: map,
	    title: 'Hello World!'
	  });
	}*/
</script>
{% endblock javascripts %}
