{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}{{ "event"|trans }}{% endblock title %}
{% block page_title %}{{ "event"|trans }} > {{event.name}}{% endblock %}
                    {% block page_subtitle %}{% endblock %}
{% block page_content %}

<div class="box box-default box-solid">
	<div class="box-header with-border">
    	<h4 class="box-title">{{ "informations"|trans }}</h4>
       		<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
              <!-- /.box-tools -->
   </div>
            <!-- /.box-header -->
   <div class="box-body">
	    <div class="col-xs-6 col-md-4">{{ "name"|trans }}</div>
	   	<div class="col-xs-6 col-md-4">{{ event.name }}</div>
	   	
	   	<div class="col-xs-6 col-md-4">{{ "description"|trans }}</div>
	   	<div class="col-xs-6 col-md-4">{{ event.description }}</div>
	   	
	   	<div class="col-xs-6 col-md-4">{{ "location"|trans }}</div>
	   	<div class="col-xs-6 col-md-4">{{ event.location }}</div>
	   	
	   	<div class="col-xs-6 col-md-4">{{ "start_date"|trans }}</div>
	   	<div class="col-xs-6 col-md-4">{{ event.startDate|date('d/m/Y') }} - {{ event.startDate|date('H:m') }} </div>
	   	
	   	<div class="col-xs-6 col-md-4">{{ "endDate"|trans }}</div>
	   	<div class="col-xs-6 col-md-4">{{ event.endDate|date('d/m/Y') }} - {{ event.endDate|date('H:m') }}</div>
   </div>
            <!-- /.box-body -->
</div>

<div class="box box-default box-solid">
	<div class="box-header with-border">
    	<h4 class="box-title">{{ "where_is"|trans }}</h4>
       		<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
              <!-- /.box-tools -->
   </div>
            <!-- /.box-header -->
   <div class="box-body">
	ICI LA MAP ! Grosse soirée !
   </div>
            <!-- /.box-body -->
</div>

<div class="box box-default box-solid">
	<div class="box-header with-border">
    	<h4 class="box-title">{{ "requirements"|trans }}</h4>
       		<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
              <!-- /.box-tools -->
   </div>
            <!-- /.box-header -->
   <div class="box-body">
	<table class="table table-striped">
                <tbody><tr>
                  <th style="width: 10px">#</th>
                  <th>{{ "item"|trans }}</th>
                  <th>{{ "quantity"|trans }}</th>
                </tr>
                {% for requirement in event.requirements %}
                <tr>
                	<td></td>
	                <td>{{ requirement.item.name }}</td>
	                <td>{{ requirement.quantity }}</td>
                </tr>
                {% endfor %}
              </tbody>
    </table>
   </div>
            <!-- /.box-body -->
</div>


{% endblock page_content %}