{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}{{ "profile"|trans }}{% endblock title %}
                    {% block page_subtitle %}{% endblock %}
{% block page_content %}
<div class="col-md-3">
<div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">

              <h3 class="profile-username text-center">{{ user.firstName }} {{ user.lastName }}</h3>

              <p class="text-muted text-center">WESH ALORS</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>create</b> <a class="pull-right">A CALCULER</a>
                </li>
                <li class="list-group-item">
                  <b>participation</b> <a class="pull-right">A CALCULER</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">{{ user.friends|length }}</a>
                </li>
              </ul>
				{% if friend == 'no' %}
              <button data-url="{{ path('add_friend',{'user_id':user.id}) }}" class="btn btn-primary" id="add_friend">
              {{ 'add_friend'|trans }}</button>
               {% else %}
               <button data-url="{{ path('remove_friend',{'user_id':user.id}) }}" class="btn btn-primary" id="remove_friend">
               {{ 'remove_friend'|trans }}</button>
               {% endif %}
            </div>
            </div>

<div class="col-md-9">
         
{% for friend in user.friends %}
<p>{{ friend.username }}</p>
{% endfor %}
Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.

Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.

Tu autem, Fanni, quod mihi tantum tribui dicis quantum ego nec adgnosco nec postulo, facis amice; sed, ut mihi videris, non recte iudicas de Catone; aut enim nemo, quod quidem magis credo, aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.


Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.

Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.

Tu autem, Fanni, quod mihi tantum tribui dicis quantum ego nec adgnosco nec postulo, facis amice; sed, ut mihi videris, non recte iudicas de Catone; aut enim nemo, quod quidem magis credo, aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.

        </div>

{% endblock page_content %}

{% block javascripts %}
{{ parent() }}
<script>
$('#add_friend').click(function(){
	var url = $(this).attr('data-url');
    $.ajax({
        type : 'POST',
        url : url,
        dataType : 'json',
        data: {},
        success : function(data){
            location.reload();
        }
    });
});

$('#remove_friend').click(function(){
	var url = $(this).attr('data-url');
    $.ajax({
        type : 'POST',
        url : url,
        dataType : 'json',
        data: {},
        success : function(data){
            location.reload();
        }
    });
});

</script>
{% endblock javascripts %}