{% extends 'CommonBundle:layout:base-layout.html.twig'  %}

{% block title %}{% endblock title %}
{% block page_content %}
<div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ "last_members"|trans }}</h3>

                  <div class="box-tools pull-right">
                    <span class="label label-danger">{{ last_users|length }} {{ "last_members"|trans }}</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                  {% for user in last_users %}
                    <li>
                      <img src="dist/img/user1-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">{{ user.firstName }} {{ user.lastName }}</a>
                      <span class="users-list-date">{{ user.signInDate|date('M Y') }}</span>
                    </li>
			      {% endfor %}
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div>
                <!-- /.box-footer -->
              </div>
{% endblock page_content %}